@media only screen and (min-width: 64em) {
    header {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 150px 128px 1fr 1fr;
    }
  
    .logo {
        grid-column: 2/3;
        align-items: right;
    }
  
    .title {
        grid-column: 3/6;
        align-items: left;
    }
  
  header img {
    width: 128px;
  }
  
    .date {
        grid-column: 6/8;
    }
  
  .headings h1 {
    font-size: 1rem;
    margin: 0;
  }
  
  .m {
    letter-spacing: 1.5pt;
    font-size: 0.9rem;
  }
  
  
  header {
      background-color: purple;
      padding: 5px 0;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid black;
    }
  
    header h1 {
      font-size: 4em;
    }

    .maingrid img {
      max-width: 600px;
      height: auto;
    }
  
    .maingrid img:hover {
      box-shadow: 0 0 50px #333;
    }

    .menu--off {
      display: none;
    }
    
    .material-design-hamburger button {
      display: none;
    }
    
    .material-design-hamburger__layer {
      display: none;
    }
    
    .material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
      display: none;
    }

    .list {
        display: inline;
        font-size: 1.5em;
    }
    
    .list a {
        text-decoration: none;
    }

    .list a:hover {
        text-decoration: underline;
    }

    .socials {
        display: inline;
    }
    
    .socials div {
        display: inline;
    }
  }

