/* index.css | Guage Schneider */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    text-align: center;
    color: white;
  }

  h2 {
    text-align: center;
    background-color: purple;
    color: white;
  }



  a {
    background-color: transparent;
  }

  img {
    border-style: none;
    display: block;
  }

  header {
    background-color: purple;
  }

  footer {
      background-color: purple;
      color: white;
  }

  p {
      text-align: center;
  }
  
  .dp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .vh {
    text-align: center;
    display: grid;
    grid-template-rows: 3% 2% 2% 2000px 2%;
  }

  .hl {
    text-align: center;
    display: grid;
    grid-template-rows: 3% 2% 2% 2000px 2%;
  }

  .ws {
    text-align: center;
    display: grid;
    grid-template-rows: 3% 2% 2% 2000px 2%;
  }

  .vh-content {
    display: block;
    grid-row: 5/6;
  }

  .vh img {
    grid-row: 4/5;
    height: 2000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hl img {
    grid-row: 4/5;
    height: 2000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ws img {
    grid-row: 4/5;
    height: 2000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
